# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
/libraries/jna_3_0_9.xml
/libraries/lombok.xml
/uiDesigner.xml
